
#title{
    background-color:#ff4c83;
}

.detail{
    padding-top:70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 3.5rem;
    line-height: 1.5;
}
#container-fluid{
    padding: 2% 15% ;
}
.container{
    margin:-50px
}

/* navigaion bar */

#nav{
    padding: 0 0 2rem ;
}

#navbar-brand{
    
    font-size: 2.5rem;
    font-family:  'Ubuntu', sans-serif;
    font-weight: bold;
    color:white;
}

.nav-item{
padding: 0 18px;
}
.nav-link{
    font-size:19px;
    font-family: 'Montserrat', sans-serif;
    font-weight:200px;

}
/* download apple & Andriod buttons */
.download-button{
    margin:5% 3% 5% 0;

}

/* title image */
.title-img{
    width: 70%;
    transform: rotate(25deg);
    position: relative;
    top: 100px;
    

}

/* feature */


#features{
    padding:10% 15% ;
    background-color:white;
    position:  relative;
   
   
}
.feature-box{
    text-align:center;

}
.icon {
    color:#ef8172;
    margin-bottom:2rem ;
}

.icon:hover{
    color:#ff4c83;
}

/* testimonials */

#testimonials{
    text-align: center;
    padding:7% 10%;
    background-color:#ef8172;
    color:white;

}
#h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size:3rem;
    line-height: 1.5;
}

.Testimonials-img{
    width:10%;
    border-radius: 100%;
    margin:1rem;

}

/* Press */

#press{
    background-color:#ef8172;
    text-align: center;
    padding: 1%;
}

.press-img{
    width:15%;
    margin:10px 10px 60px 40px
}

.carousel-item {
    padding: 7% 15%;
}

/* pricing */

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-colum{
    padding: 3% 2%;

}
.container-login{
    padding:0 3% ;

}
.login-card-light {
    background: linear-gradient(145deg, #eee, #fff);

}

                        /* Cards setting */



 .card-body{
 padding-top:30px ;
     }
  .card-data{
                            
    height: 500px;
      }
 .card-data-padding{
     margin-top:50px ;
   }
 /* Width settings for mobile  */

@media (max-width:991px){
   
    .title-img{
        text-align: center;
        padding:0 0  0 70px;
        transform: none;
        margin-bottom:12rem;
        
        
    }
    .container{
        text-align: center;
        
    }
}



/* width setting for tablets */

@media (min-width:768px) and (max-width:1000px){
   
    
    .title-img{

    text-align: center;
    padding: 0 0 0 150px;
    
}
}



                              /* cta */
#cta{
background-color:#ff4c83;
padding:70px  ;
color: white;
text-align:center;

}

.cta-heading{
    font-family: 'Montserrat', sans-serif;
font-size: 2rem;
line-height: 1.5;
font-weight:bold;
}
 /* footer */

#footer{
    padding: 7%;
    text-align:center;
}

#footer-icons{ 
   text-decoration: none;
    padding:0 2% 5%;
 
}

.copyright{
    letter-spacing: 8px ;
    font-family: monospace;
}
